# OS cruft

.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db
.localized
Icon?



# other

*~
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.sass-cache



# version control

.hg
.svn
.CVS



# repo specific

/resources



# going on faith here

*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project

# Ignore application configuration
/config/application.yml
